# Backend
API_EXTERNAL_URL=https://your-leaks-api.com/api/
RECAPTCHA_SECRET=
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:3000

# Frontend
# General
FORCED_LANG=
RECAPTCHA_SITE_KEY=

# Texts and Descriptions
ORGANIZATION_NAME=UNLP
TEAM_NAME=CERTUNLP
APP_NAME=Leaks Checker
STARTING_DATE=01/06/2025
META_DESCRIPTION=Herramienta del CERTUNLP para verificar si tus datos
han sido filtrados en Internet.

# API URLs
API_LOCAL_URL=http://localhost:8000
API_PROD_URL=

# Paths to Logos (keep blank if not used)
LOGO_FAVICON=img/favicon.png
LOGO_HEADER=img/logo-header.png
LOGO_BOTTOM_LEFT=img/logo-footer-left.png
LOGO_BOTTOM_RIGHT=img/logo-footer-right.png

# Links for the footer
LINK_BOTTOM_LEFT=https://www.cespi.unlp.edu.ar/
LINK_BOTTOM_CENTER_LEFT=https://www.cert.unlp.edu.ar
LINK_BOTTOM_CENTER_RIGHT=mailto:leaks@cert.unlp.edu.ar
LINK_BOTTOM_RIGHT=https://unlp.edu.ar/
